MONGO_URI="your_mongodb_connection_string_here"
JWT_SECRET="your_jwt_secret_here"
NODE_ENV="development"
JWT_EXPIRES="expiration_time_here"
PORT="your_port_here"
SUPER_ADMIN_EMAIL="superadmin@example.com"
SUPER_ADMIN_PASSWORD="superadmin@123"
